body {
  background-color: #ccdde2;
}

.container {
  background-color: #93a3bc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #594236;
}

.checkout-img {
  width: 50%;
  padding: 30px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.checkout > h2 {
  color: #594236;
}

.inputField {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #594236;
}

input[type="submit"] {
  border-radius: 5px;
  color: #594236;
  border: 2px solid #594236;
}
