body {
  background-color: #ccdde2;
}

.container {
  background-color: #93a3bc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkout-img {
  width: 50%;
  padding: 30px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
